language: php

php:
    - 5.5
    - 5.6
    - 7.0

env:
    - SYMFONY_VERSION="2.3.*"
    - SYMFONY_VERSION="3.0.*"

before_script:
    - composer self-update
    - composer require --no-update symfony/framework-bundle:${SYMFONY_VERSION}
    - composer install --prefer-source

script: bin/phpunit

notifications:
    email:
      - timothee@widop.com
      - eric@widop.com
